.homepage-main{
    background-color:rgb(87,28,96);
    background:linear-gradient(90deg, rgba(87,28,96,1) 0%, rgba(230,73,134,.8) 74%),url('../../utils/student_photo.jpg');
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    color: white;
}

.homepage-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
}

.homepage-nav-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 5vw;
}

@media (max-width:770px) {
    .homepage-nav-left{
        width: 30vw;
    }
    .homepage-nav-left p{
        padding-right: 5%;
    }

    .homepage-nav-left p:nth-child(1){
        display: flex;
        font-size: 25px;
        margin-top: -2%;
    }
}

@media (max-width:662px){
    .homepage-nav-left{
        flex-wrap: wrap;
    }
}

.homepage-nav-left p{
    padding-right: 5%;
    padding-top: 5%;
}

.homepage-nav-left p:nth-child(1){
    display: flex;
    font-size: 25px;
    padding-top: 3%;
}

.homepage-nav-right{
    padding-top:0.5%;
    display: flex;
    flex-direction: column;
    width:35vw;
}

.homepage-nav-right-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    padding-top: 1%;
    width: 100%;
}

.homepage-nav-right-reponsive-botton{
    display: none;
}

@media (max-width:1120px){
    .homepage-nav-right-contact{
            flex-direction: column;
            height: 20vh;
            justify-content: space-around;
    }

    .homepage-nav-right-contact p:nth-child(2){
        display: none;
    }
}

.homepage-nav-right-reponsive{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 30vh;
    color: black;
    width: 760px;
    background-color: white;
    z-index: 999999;
    position: fixed;
    top: 0;
    width: 100vw;
}

.homepage-nav-right-responsive-left{
    display: flex;
    height: 30vh;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:876px){
    .homepage-nav-right-reponsive-botton{
        display: block;
        margin-right: 10%;
        margin-top: 2%;
    }

    .homepage-nav-right{
        display: none;
    }
}

.homepage-nav-right-contact p{
    padding-left: 4%;
}

.homepage-nav-right-contact p:nth-child(4){
    margin-left: 4%;
    padding: 0 1% 1% 1%;
    background-color: rgba(218,209,211,.2);
}

.homepage-nav-right-login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
    align-items: center;
}

/* .homepage-nav-right-login p{
    padding-left:5% ;
} */

.homepage-nav-right-login-trial{
    margin-left: 5%;
    background-color: white;
    font-size: 14px;
    height: 25px;
    color:green;
    width: 5em;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
}


.homepage-title-container{
    height: 60vh;
    position: relative;
}

.homepage-title-sub-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.homepage-title-bold{
    font-size: 3em;
    font-weight: 900;
}

.homepage-title-small{
    font-size: 1.2em;
}

.homepage-about{
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: -222222;
}

@media (max-width:546px){
    .homepage-about-container-1{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .homepage-about{
        height: 100vh;
    }

    .homepage-about-right{
        border-right:none;
    }

    .homepage-about-left{
        text-align: center;
    }
}

@media (max-width:462px){
    .homepage-about{
        margin-top: 10vh;
    }

    .homepage-ses{
        margin-top: 10vh;
    }

    .homepage-ses-left{
        font-size: 18px;
    }
}

.homepage-about-container-1{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 40vh;
}

.homepage-about-right{
    width: 50vw;
    font-weight: 600;
    border-left: 2px solid lightgray;
    padding-left: 5vw;
}

.homepage-about-left {
    font-weight: 900;
    line-height: 1.5;
    font-size: 20px;
}

.homepage-about-left div:nth-child(2){
    color: rgb(87,28,96); ;
    font-weight: 900;
}

.homepage-ses{
    background-color:rgb(12,8,13);
    background:linear-gradient(90deg, rgba(12,8,13,1) 49%, rgba(219,194,204,0) 86%),url('../../utils/seminar_photo.jpg');
    background-size: 100vw;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-content:center;
    margin-bottom: 5vh;
}

.homepage-ses-left{
    padding-top:2%;
    padding-left: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
}

.homepage-ses-left p:nth-child(1){
    font-size: 16px;
    word-spacing: 3px;
}

.homepage-ses-right{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    padding-right: 10%;
    font-size: 24px;
}

.homepage-live-ses{
    background-color:rgba(218, 214, 166,.8);
    height: 50vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.homepage-live-ses-title{
    font-weight: 900;
    padding-top:2%;
    padding-bottom: 1%;
    font-size: 20px;
    word-spacing: 5px;
}

.homepage-live-ses-title a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding-bottom: .5em;
    border-bottom: green 4px solid;
}

.homepage-live-ses-cards{

    display: flex;
    justify-content: space-between;
    top:18vh;
    left: 10vh; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    height: 50vh;
    position:absolute;
    align-content: center;
}

@media (max-width:876px){
    .homepage-live-ses-cards{
        flex-wrap: wrap;
        height: 100vh;
        width: 70vw;
    }

    .homepage-live-ses-card{
        margin-bottom: 5vh;
        height: 40vh;
    }

    .homepage-live-ses{
        margin-bottom: 80vh;
    }
}

@media (max-width:570px){

    .homepage-live-ses-cards{
        left: 10vw;
        display:block;

    }

    .homepage-live-ses-card{
        min-width: 60vw;
        height: 40vh;
    }

    .homepage-live-ses{
        margin-bottom: 150vh;
    }

}


.homepage-live-ses-card{
    display: flex;
    margin-right: 5vw;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background: rgb(10,9,10);
    background: linear-gradient(150deg, rgba(10,9,10,1) 23%, rgba(82,20,125,1) 74%, rgba(207,40,94,1) 100%);;
    padding-left: 20px;
    width: 25vw;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
}

.homepage-live-ses-card div:nth-child(1){
    color:rgb(253, 249, 29);
}

.homepage-offers{
    margin-top: 30vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 18px;
}

.homepage-offers-photos{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
}

@media (max-width:876px){
    .homepage-offers-photos{
        flex-wrap: wrap;
        margin-bottom: 40vh;
    }

    .homepage-offers-photo{
        margin-bottom: 5vh;
    }


}

@media (max-width:662px){
    .homepage-offers-photos{
        flex-wrap: wrap;
        margin-bottom: 80vh;
    }

    .homepage-offers-photo{
        margin-bottom: 5vh;
    }
    
}

.homepage-offers-photo{
  font-weight: 600;
}
 img{
    height: 200px;
    width: 100%;
    position:center;

}

.homepage-video-series{
    background-color:rgba(218, 214, 166,.8);
    height: 50vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;   
    margin-bottom: 20vh; 
}

.homepage-video-series-title {
    font-weight: 900;
    padding-top:2%;
    font-size: 20px;
    word-spacing: 5px;
}

.homepage-video-series-title a{
    border-bottom: 2px solid green;   
    text-decoration: none;
    font-size: 25px;
}

.homepage-video-serires-cards{
    display: flex;
    justify-content: space-evenly;
    top:15vh;
    left: 10vh; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 40vh;
    position:absolute;
    align-content: center;   
}

.homepage-video-series-card{
    display: flex;
    margin-right: 5vw;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    background: rgba(82,20,125,1);
    padding-left: 20px;
    width: 30vw;
    color: white;
    font-weight: 500;
    border-radius: 10px;  
}

.homepage-signup{
    margin: auto;
    height: 30vh;
    width: 80vw;
    font-weight: 600;
    background: rgb(78,10,84);
    background: linear-gradient(90deg, rgba(78,10,84,1) 56%, rgba(208,46,93,1) 86%);
    border-radius: 10px;
}

.homepage-signup-left{
        color: white;
        display: flex;
        height: 30vh;
        justify-content: space-between;
        align-items: center;
        padding-left: 2em;
        padding-right:2em ;
}

.homepage-usecase{
    margin-top:10vh;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.homepage-usecase-title{
    font-weight: 600;
    font-size: 30px;
    word-spacing: 3px;
}

.homepage-usecase-title a{
    text-decoration: none;
    color: black;
    border-bottom: 4px solid green;
    padding-bottom: 1%;
    font-size: 25px;
}

.homepage-usecase-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
    margin-left: -3em;
}

@media (max-width:876px){
    .homepage-usecase-cards{
        flex-wrap: wrap;
    }

    .homepage-attend-title{
        margin-top: 70vh;
    }
}

.homepage-usecase-card{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    padding-left: 3em;
}

.homepage-usecase-cards div:not(:first-child){
    border-left: 1px solid lightgray;
}

.homepage-usecase-card div:nth-child(1){
    font-weight: 800;
    font-size: 24px;
    word-spacing: 3px;
}

.homepage-usecase-card div:nth-child(2){
    font-weight: 500;
    font-size: 18px;
    word-spacing: 5px;
    margin-top: 1em;
}

.homepage-attend{
    height: 80vh;
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}


@media (max-width:528px){
    .homepage-attend{
        margin-top: 40vh;
    }
}

@media (max-width:610px){
    
.homepage-usecase{
    margin-top: 20vh;
    }
.homepage-attend{
    height: 240vh;
}

.homepage-attend-cont-1-content{
    top:20vh;
    margin-bottom: 5vh;
    min-width: 50vw;
    min-height: 30vh;
}

.homepage-attend-cont-1{
    flex-direction: column;
    height: 100vh;
}
.homepage-attend-cont-2{
    flex-direction: column;
    height: 100vh;
}
    .homepage-attend-cont-2-content{
    top:47vh;
    margin-bottom: 5vh;
    min-width: 50vw;
    min-height: 30vh;
    }

}

.homepage-attend-title{
    font-weight: 800;
    font-size:30px;
    word-spacing: 5px;
}

.homepage-attend-title a{
    color: black;
    text-decoration: none;
    border-bottom: 4px solid green;
    padding-bottom: 1%;
}

.homepage-attend-cont-1{
    margin-top:10vh ;
    display: flex;
    justify-content: space-around;
    height:30vh;
    width: 90vw;
    align-items: center;   
}

.homepage-attend-cont-1-content{
    position: relative;
    height: 30vh;
    width: 25vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

.homepage-attend-cont-2-content{
    position: relative;
    height: 30vh;
    width: 25vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}


.homepage-attend-cont-1-icon{
    position: absolute;
    top:1em;
    right:1em;
}

.homepage-attend-cont-1-text{
    position: absolute;
    bottom:1em;
    left:1em;
}

.homepage-attend-cont-1-text div:nth-child(1){
    font-weight: 500;
    font-size: 18px;
}

.homepage-attend-cont-1-text div:nth-child(2){
    font-weight: 800;
    font-size: 24px;
}

.homepage-attend-cont-2{
    margin-top:10vh ;
    display: flex;
    justify-content: space-around;
    height:30vh;
    width: 60vw;
    align-items: center;   
}

@media (max-width:876px){
    .homepage-gallery-title{
        margin-top: 80vh;
    }

    .homepage-gallery-photos{
        margin-top: 50vh;
    }
}

.homepage-gallery{
    margin-top: 20vh;
    height: 20vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
    text-align: center;
}

.homepage-gallery-title{
    font-weight: 800;
    font-size:30px;
    word-spacing: 5px;
}

.homepage-gallery-title a{
    color: black;
    text-decoration: none;
    border-bottom: 4px solid green;
    padding-bottom: 1%;
}

.homepage-gallery-text{
    margin-top: 2.5em;
    font-weight: 600;
}

.homepage-gallery-photos{
    height: 40vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-right: 1em;
    padding-left: 1em;
}


.homepage-gallery-photo-1{
    width: 20vw;
    background: rgb(246,235,247);
    background: linear-gradient(180deg, rgba(246,235,247,0) 9%, rgba(11,1,4,1) 77%),url('../../utils/cloud.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:30vw 50vh;
    position: relative;
}

.homepage-gallery-photo-2{
    width: 20vw;
    background: rgb(246,235,247);
    background: linear-gradient(180deg, rgba(246,235,247,0) 9%, rgba(11,1,4,1) 77%),url('../../utils/migration.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:30vw 50vh;
    position: relative;
}

.homepage-gallery-photo-3{
    width: 20vw;
    background: rgb(246,235,247);
    background: linear-gradient(180deg, rgba(246,235,247,0) 9%, rgba(11,1,4,1) 77%),url('../../utils/management.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:30vw 50vh;
    position: relative;
}
.homepage-gallery-photo-4{
    width: 20vw;
    background: rgb(246,235,247);
    background: linear-gradient(180deg, rgba(246,235,247,0) 9%, rgba(11,1,4,1) 77%),url('../../utils/vr.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:30vw 50vh;
    position: relative;
}
/* .homepage-gallery-photo>img{
    height: 50vh;
    z-index: -99;
} */

.homepage-gallery-photo-text{
    position: absolute;
    bottom: 1em;
    color: white;
    font-weight: 600;
    left:3em
}

.homepage-footers{
    margin-top: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.homepage-footers-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.homepage-footer div{
    padding: .5em;
    font-size: 14px;
}

.homepage-footer div:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

.homepage-footers-2{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.homepage-footer-icons{
    display: flex;
    justify-content: space-evenly;
    width: 5vw;
}