@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

